<div class="flex gap-5 p-10 pb-0">
    <span (click)="boldText()" class="font-bold cursor-pointer">B</span>
    <span class="italic cursor-pointer">I</span>
    <span class="underline cursor-pointer">U</span>
</div>
<div class="p-10">
    <div>
        <input type="text" placeholder="Title" class="text-2xl font-bold outline-none">
    </div>
        
    <div contenteditable="true" class="w-full min-h-screen mt-4 outline-none text-box" placeholder="Start writing something">
        <!-- <textarea class="w-full min-h-screen outline-none" name="" id="" placeholder="Start writing something"></textarea> -->

    </div>
</div>