<div class="w-full h-screen dark:bg-red flex justify-center relative dark:bg-black">
    <button class="text-[#1fdf64] w-full text-2xl absolute top-4"><i class="fa-solid fa-bars"></i></button>
    <div class="pt-20 w-full mx-auto flex flex-col gap-5 dark:text-white">
        <button routerLink="/" routerLinkActive="text-blue-300" [routerLinkActiveOptions]="{exact:true}"><i class="fa-solid fa-clipboard-list"></i></button>
        <button routerLink="/streak" routerLinkActive="text-[#ff6723]"><i class="fa-solid fa-fire"></i></button>
    </div>
</div>